.cols1 {
  height: 380px;
  padding: 20px;
  width: 550px;
  border-radius: 4ch;
  border: 1px solid black !important;
}
.cols2 {
  height: 325px;
  padding: 20px;
  width: 550px;
}
.cols3 {
  height: 200px;
  padding: 20px;
  width: 550px;
  border-radius: 4ch;
  border: 1px solid black !important;
}
.rightCol1 {
  border: 1px solid black;
  padding: 20px;
  border-radius: 4ch;
}
.rightCol2 {
  border: 1px solid black;
  padding: 20px;
  border-radius: 4ch;
}
.rowSpacing {
  column-gap: 40px;
  row-gap: 30px;
}
.rowSpacingRightBlock {
  row-gap: 30px;
  margin-top: -18px;
}
.placeInputsNames {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.floatingA {
  background-color: white;
  color: black;
  width: 140px;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  position: relative;
  top: -34px;
  left: 15px;
}
.floatingB {
  background-color: white;
  color: black;
  width: 140px;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  position: relative;
  top: -34px;
  left: 15px;
}
.floatingC {
  background-color: white;
  color: black;
  width: 140px;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  position: relative;
  top: -34px;
  left: 15px;
}
.floatingD {
  background-color: white;
  color: black;
  width: 140px;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  position: relative;
  top: -34px;
  left: 15px;
}
.btPlacing{
  
}

@media screen and (max-width: 1000px) {
    .cols3 {
        margin-top: 80px !important;
        height: 200px;
        padding: 20px;
        width: 550px;
        border-radius: 4ch;
        border: 1px solid black !important;
      }
  }